.header{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 10px 0px 0px 70px;
}

img{
  max-height: 60px;
  cursor: pointer;
}

button{
  background: transparent;
  border: none;
}

.titulo{
  font-size: 50px;
  color: #bb8854;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.geral{
  display: flex;
}

ul li {
  list-style-type: none;
}

li {
  text-align: center;
  color: #b67e47;
  font-size: 25px;
  border: 1px solid #b67e47;
}

.modificar, .products-list{
  overflow: auto;
  height: 70vh;
}

.products, .addProducts{
  margin-right: 40px;
}

.product, .update, .addproduct{
  margin: 20px 0px 20px 0px;
  text-align: center;
  color: #74432F;
  background-color: #b67e47;
  font-size: 25px;
  border-radius: 10px;
}

.addproduct{
  padding: 0px 20px;
}

.editar, .excluir {
  margin: 5px 0px 5px 5px;
  border-radius: 5px;
  width: 60px;
  padding: 5px 10px;
  border: none;
  background-color: #b67e47;
  color: #74432F;
}

.editar:hover, .excluir:hover{
  background-color: #74432F;
  color: #b67e47;
  border: 1px solid #b67e47;
  cursor: pointer;
}

.add{
  width: 500px;
  height: 40vh;
  margin-top: 10px;
  border: 2px solid #b67e47;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input{
  margin-top: 5px;
}

.input label{
  color: #b67e47;
  margin-right: 15px;
}

#name, #preco, #type{
  border-radius: 10px;
  padding: 10px 5px;
  width: 250px;
  border: 2px solid #b67e47;
  background-color: transparent;
  outline: none;
}

#type{
  margin-left: 10px;
}

.edit-product, .add-product{
  color: #74432F;
  background-color: #b67e47;
  width: 150px;
  height: 5vh;
  border: none;
  border-radius: 10px;
  margin: 15px 0px 0px 10px;
}

.edit-product:hover, .add-product:hover{
  background-color: #74432F;
  color: #b67e47;
  border: 1px solid #b67e47;
  cursor: pointer;
}

@media screen and (max-width: 600px){
  .geral{
    margin-left: 35px;
  }

  .input{
    font-size: 30px;
  }

  #type{
    margin-left: 20px;
  }

  .edit-product, .add-product{
    font-size: 25px;
    margin: 15px 0px 0px 25px;
  }
}

