<section>
  <div class="header">
    <p class="title">Registrar Pedidos</p>
    <button class="img-title">
      <img src="../../../assets/iconizer-arrow-right-from-bracket-solid.svg" alt="">
    </button>
  </div>
  <div class="geral">
    <div class="fazerPedido">
      <div class="menu-title">
        <p>Novo pedido</p>
      </div>
      <div class="foods">
        <button class="coffee" (click)="onClick('cafe')">Café da manhã</button>
        <button class="burger" (click)="onClick('ham')">Hamburguers</button>
        <button class="bebidas" (click)="onClick('drink')">Bebidas</button>
      </div>
      <div class="listProducts">
        <ul>
          <li *ngFor="let item of items" (click)="moverItem(item)" (click)="addToCart(item)">
            <span>{{ item.name }}</span>
            <span>R$ {{ item.price }},00</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="pedidoProgress">
      <div class="menu-title">
        <p>Pedido em andamento</p>
      </div>
      <div class="nameClient">
        <input [(ngModel)] = "nomeClient" type="text" placeholder="Nome do cliente">
      </div>
      <div class="listPedidos">
        <div class="itemsMovidos" *ngFor="let item of destinoItems; let i = index">
          <div class="div-pedido">
            <span class="item">{{ item.name }}</span>
            <span class="item">R$ {{ item.price }},00</span>
            <button id="menos" (click)="decrementQuantity(item)">-</button>
            <p class="item">{{ item.quantity }}</p>
            <button id="menos" (click)="incrementQuantity(item)">+</button>
            <button (click)="excluirItem(i)" class="bin"><img src="../../../../assets/caixa.png" alt=""></button>
          </div>
        </div>
      </div>
      <div class="total">
        <p id="valor">Total: R$ {{ calcularQuantidadeTotal() }},00</p>
        <button class="enviar" (click)="enviar()">Enviar</button>
        <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
        </div>
      </div>
    </div>
  </div>
</section>
