.header{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 10px 0px 0px 70px;
}

img{
  max-height: 60px;
  cursor: pointer;
}

button{
  background: transparent;
  border: none;
}

.title{
  font-size: 50px;
  color: #bb8854;
}

.geral{
  display: flex;
  justify-content: center;
  align-items: center;
}

.divPedidos{
  height: 55vh;
  width: 600px;
  margin: 10px 0px 45px 0px;
  background-color: #bb8854;
  border-radius: 15px;
}

.infos{
  text-align: center;
  margin-top: 10px;
  color: #74432F;
  font-size: 20px;
}

.pedidosSelecionados{
  background-color: #74432F;
  height: 20vh;
  width: 500px;
  border-radius: 15px;
  margin: 10px 0px 0px 53px;
  overflow-y: auto;
  border: 2px solid black;
}

.productsQty{
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  color: #bb8854;
}

ul {
  list-style-type: none;
}

.lista{
  height: 15px;
  width: 300px;
  padding: 13px 50px;
  margin: 7px 0px 10px 50px;
  border-radius: 10px;
  background-color: #bb8854;
  color: #74432F;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

#pronto{
  color: #166510;
  text-align: center;
  font-size: 23px;
}

.cancelar{
  padding: 12px;
  margin: 15px 0px 0px 222px;
  font-family: 'Irish Grover', cursive;
  font-size: 25px;
  background-color: #74432F;
  border: none;
  border-radius: 15px;
  color: #bb8854;
  cursor: pointer;
}

.cancelar:hover{
  border: 3px solid #74432F;
  color: #74432F;
  background-color: #B68A5E;
}

.sem{
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #bb8854;
}

.grande {
  font-size: 50px;
}
