<section class='container'>
    <div class='form-login'>
      <form class='form'>
        <div class="inputs">
          <div class="email">
            <label>Email</label>
            <input type='text' class='' placeholder='Digite seu email' name='email' [(ngModel)]="email"/>
          </div>
          <div class="senha">
            <label>Senha</label>
            <input type='password' class='' placeholder='Digite sua senha' name='senha' [(ngModel)]="senha" />
          </div>
          <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
        </div>
        <button class="button" (click)="onClick()">Entrar</button>
      </form>
    </div>
    <div class='img-hamburguer'>
      <img id='img' src="../../../assets/hamburguer.webp" alt="hamburguer">
      <img id='logo' src="../../../assets/logo.png" alt="logo">
    </div>
</section>

