.container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-login{
  width: 30rem;
  height: 37rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form{
  border: 1px solid #B68A5E;
  border-radius: 10%;
  width: 25rem;
  height: 20rem;
  margin-top: 30px;
  color: #e4dad0;
  font-size: 25px;
}

.inputs{
  margin-top: 40px;
}

.email, .senha{
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-left: 60px;
}

.email input, .senha input{
  width: 250px;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 15px;
  background-color: #B68A5E;
}

.email::placeholder, .senha::placeholder{
  color: #afacaa;
}

.button{
  border: 3px solid #B68A5E;
  background: transparent;
  border-radius: 10px;
  width: 120px;
  height: 45px;
  font-family: 'Irish Grover', cursive;
  color: #e4dad0;
  font-size: 25px;
  margin: 30px 0px 0px 140px;
  cursor: pointer;
}

.button:hover{
  background-color: #B68A5E;
  color: black;
}

.img-hamburguer img{
  width: 30rem;
}

.img-hamburguer{
  width: 30rem;
  height: 37rem;
}

#logo{
  width: 25rem;
  position: relative;
  bottom: 80px;
  left: 65px;
}

@media screen and (max-width: 500px){
  .container{
    display: block;
    margin-top: 100px;
  }

  .form{
    width: 24rem;
    height: 27rem;
  }

  .email, .senha{
    font-size: 35px;
    margin-left: 32px;
  }

  .email input, .senha input{
    height: 25px;
    width: 290px;
  }

  #email::placeholder, #senha::placeholder{
    font-size: 18px;
  }

  .button{
    width: 150px;
    height: 60px;
    margin: 60px 0px 0px 120px;
  }

  #img{
    display: none;
  }

  #logo{
    font-size: 8px;
    margin: 100px 0px 0px -15px;
  }
}
