<section *ngIf="orders.length > 0">
  <div class="header">
    <p class="title">Aguardando produção</p>
    <button><img src="../../../assets/iconizer-arrow-right-from-bracket-solid.svg" alt=""></button>
  </div>
  <div class="geral" *ngFor="let order of orders">
    <div class="divPedidos">
      <div class="infos">
        <p>ID do pedido: {{ order.id }}</p>
        <p>Atendente: {{ order.mesa }}</p>
        <p>Cliente: {{ order.client }}</p>
        <p>Data de entrada: {{ order.dataEntry | date: 'dd/MM/yyyy HH:mm:ss' }}</p>
      </div>
      <div class="pedidosSelecionados">
        <ul>
          <li *ngFor="let product of order.products">
            {{ product.qty }} {{ product.product }}
          </li>
        </ul>
      </div>
      <p id="pronto">Status: {{ order.currentStatus }}</p>
      <button class="concluido">CONCLUÍDO</button>
    </div>
  </div>
</section>
